@media (max-width: 975px) {
  .header-menu {
    flex-direction: column;
    top: none;
    left: none;
  }

  .hidden-menu {
    display: none !important;
  }
  .responsive-button {
    display: flex;
  }
  .background {
    display: none;
  }
}
